input::-webkit-input-placeholder, button {
    font-family: 'roboto', sans-serif;
    transition: all 0.3s ease-in-out;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
textarea {
    width: 400px;
    display: block;
    border: none;
    padding: 10px 0;
    background-position: -200px 0;
    background-size: 200px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}
textarea:focus, textarea:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

button {
    border: none;
    background: #1abc9c;
    cursor: pointer;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    color: white;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
}